doctype html
html
  head
    meta(charset='utf-8')
    title= repoName
    style.
      html {
        margin: 0 32px 0 0;
      }
      body {
        margin: 0;
        position: relative;
      }
  body
    for cat in stargazes
      - var created = new Date(cat.created_at);
      - var top = ((Date.now() - created) / 60000) + 'px';
      - var left = (Math.random() * 100) + '%';
      img(src="/github-media/octocats/blacktocat-32.png",
        alt='(cat)', title=cat.actor.login,
        style="position:absolute;top:" +top+';left:'+left+';')
